body {
    background: url(./img/bcgr.png) no-repeat;
    font-family: "Montserrat", sans-serif;
}

form{
    width: 257.76px;
    height: 262.4px;
    margin-left: 15%;
    margin-top: 3%;
}

.logout
{
    position: absolute;
    right: 0;
    font-size: 15px;
    padding: 0.6% 2.5%;
    margin-right: 15%;

}
#newEvn
{
    height: auto;
}

label{
    margin-left: 2%;
    font-size: large;
}

.chkd
{
    text-decoration: line-through;
}

.nchkd
{
    text-decoration: none;
}

.hideBl
{
    display:none;
}
.showBl
{
    display: visible;
}

