header {
    height: 60px;
    padding: 2% 15%;
    background: rgba(204, 203, 202, 0.24);
    font-size: 25px;
    line-height: 30px;
    color: white;
    align-items: center;
    display: flex !important;
}
@media screen and (max-width:500px)
{
    header{
        height: 40px;
        font-size: 15px;
    }
}